<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== FAVICON ===============-->
      <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="../FoodDisplay/FoodDisplay.css">

      <title>Responsive burger website - Bedimcode</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         
      </header>

      <!--==================== MAIN ====================-->
      <main class="main">
         <!--==================== HOME ====================-->

         <!--==================== RECIPE ====================-->
         <section class="recipe section" id="recipe">
            
         </section>

         <!--==================== POPULAR ====================-->
         <section class="popular section" id="popular">
            <h2 class="section__title">Most Devoured <br> Burgers</h2>
            <div class="popular-container container grid">


                <article class="popular__card">
                    <img src="/frontend/src/maal/img/popular-burger-chicken.png" class="popular__img" alt="image">

                    <h2 class="popular__title">chicken <br> burger</h2>
                    <span class="popular__price">$6</span>

                    <button class="popular__button">
                        <i class="ri-shopping-bag-3-fill"></i>
                    </button>
                </article>

                <article class="popular__card">
                    <img src="/frontend/src/maal/img/popular-burger-classic.png" class="popular__img" alt="image">

                    <h2 class="popular__title">veg <br> burger</h2>
                    <span class="popular__price">$4</span>

                    <button class="popular__button">
                        <i class="ri-shopping-bag-3-fill"></i>
                    </button>
                </article>

                <article class="popular__card">
                    <img src="/frontend/src/maal/img/popular-burger-grill.png" class="popular__img" alt="image">

                    <h2 class="popular__title">Panner <br> burger</h2>
                    <span class="popular__price">$8</span>

                    <button class="popular__button">
                        <i class="ri-shopping-bag-3-fill"></i>
                    </button>
                </article>

                <article class="popular__card">
                    <img src="/frontend/src/maal/img/popular-burger-big.png" class="popular__img" alt="image">

                    <h2 class="popular__title">aalo tikki <br> burger</h2>
                    <span class="popular__price">$10</span>

                    <button class="popular__button">
                        <i class="ri-shopping-bag-3-fill"></i>
                    </button>
                </article>

                <article class="popular__card">
                    <img src="/frontend/src/maal/img/popular-burger-meat.png" class="popular__img" alt="image">

                    <h2 class="popular__title"></h2>
                    <span class="popular__price"></span>

                    <button class="popular__button">
                        <i class="ri-shopping-bag-3-fill"></i>
                    </button>
                </article>

            </div>
         </section>

         <!--==================== DELIVERY ====================-->
         <section class="delivery section" id="delivery">
            
         </section>

         <!--==================== CONTACT ====================-->
         <section class="contact section" id="contact">
            
         </section>
      </main>

      <!--==================== FOOTER ====================-->
      <footer class="footer">

      </footer>

      <!--========== SCROLL UP ==========-->
      

      <!--=============== SCROLLREVEAL ===============-->
      <script src=""></script>

      <!--=============== MAIN JS ===============-->
      <script src="assets/js/main.js"></script>
   </body>
</html>