.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: (2vw, 24px);
    font-weight: 600;
    text-align: center;
}

#dishes{
    margin-bottom: 6rem;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    margin-top: 30px;
    gap: 60px;
    row-gap: 80px;
} 



