<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--=============== FAVICON ===============-->
   <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

   <!--=============== REMIXICONS ===============-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">

   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="/frontend/src/maal/css/styles.css">

   <title>Responsive burger website - Bedimcode</title>
</head>

<body>
   <!--==================== HEADER ====================-->
   <!--==================== MAIN ====================-->
   <main class="main">
      <!--==================== HOME ====================-->
      <section class="home section" id="home">
         <div class="home__container container grid"> 
            <div class="home__data">
               <h1 class="home__title">Love Every <br> Burger</h1>

               <p class="home__description">
                  We serve the best burgers on the planet, 
                  paving the way for cooking and preparing hot, 
                  delicious burgers.
               </p>               

               <a href="#" class="button">Bite Now</a>
               
               <img src="/frontend/src/maal/img/sticker-potatoes.svg" alt="home__sticker" class="home__sticker">
            </div>

               <div class="home__images">
                     <img src="/frontend/src/maal/img/home-burger.png" alt="image" class="home__burger">
                     <img src="/frontend/src/maal/img/home-dish.png" alt="image" class="home__dish">frontend/src/maal/img/home-burger.png

                     <img src="/frontend/src/maal/img/home-potato.png" alt="image" class="home__ingredient home__potato-1">
                     <img src="/frontend/src/maal/img/home-potato.png" alt="image" class="home__ingredient home__potato-2">
                     <img src="/frontend/src/maal/img/home-tomato.png" alt="image" class="home__ingredient home__tomato-1">
                     <img src="/frontend/src/maal/img/home-tomato.png" alt="image" class="home__ingredient home__tomato-2">
                     <img src="/frontend/src/maal/img/home-lettuce.png" alt="image" class="home__ingredient home__lettuce-1">
                     <img src="/frontend/src/maal/img/home-lettuce.png" alt="image" class="home__ingredient home__lettuce-2"> 
               </div>              
            </div>
      </section>
      <!--=============== MAIN JS ===============-->
      <script src="/frontend/src/maal/js/main.js"></script>
</body>