<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== FAVICON ===============-->
      <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="/frontend/src/components/Footer/Footer.css">

      <title>Responsive burger website - Bedimcode</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         
      </header>

      <!--==================== MAIN ====================-->
      <main class="main">
         <!--==================== HOME ====================-->

         <!--==================== RECIPE ====================-->

         <!--==================== POPULAR ====================-->

         <!--==================== DELIVERY ====================-->
         <section class="delivery section" id="delivery">
            
         </section>

         <!--==================== CONTACT ====================-->
         <section class="contact section" id="contact">
            <div class="contact__container container grid">
                <h2 class="section__title">Contact Now</h2>

                <div class="contact__content grid">
                    <div class="contact__data grid">
                        <div>
                            <h3 class="contact__title">Write us</h3>

                            <div class="contact__social">
                                <a href="" target="_blank">
                                    <i class="ri-whatsapp-fill"></i>
                                </a>

                                <a href="" target="_blank">
                                    <i class="ri-facebook-circle-fill"></i>
                                </a>
                                
                                <a href="" target="_blank">
                                    <i class="ri-telegram-fill"></i>
                                </a>
                            </div>
                        </div>

                        <div>
                            <h3 class="contact__title">Call us and Order</h3>

                            <address class="contact__info">
                                +00-987-7654-321
                                +11-012345
                            </address>
                        </div>


                        <div>
                            <h3 class="contact__title">Find us here</h3>

                            <address class="contact__info">
                                Mumbai, India.
                                Bhayandar - 401101.
                            </address>
                        </div>
                    </div>

                    <div class="contact__image">
                        <img src="/frontend/src/assets/contact_man.png" alt="image" class="contact__img">
                    </div>
                </div>

                <img src="/frontend/src/assets/sticker_burger.svg" alt="image" class="contact__sticker_1">
                <img src="/frontend/src/assets/sticker_soda.svg" alt="image" class="contact__sticker_2">
            </div>
         </section>
      </main>

      <!--==================== FOOTER ====================-->
      <footer class="footer">
        <div class="footer__container container grid">
            <a href="#" class="footer__logo"></a>

            <div class="footer__content grid">
                <a href="#" class="footer__link">Terms & Agreement</a>
                <a href="#" class="footer__link">Privacy Policy</a>

                <div class="footer__social">
                    <a href="#" target="_blank">
                        <i class="ri-facebook-circle-fill"></i>
                    </a>

                    <a href="#" target="_blank">
                        <i class="ri-instagram-fill"></i>
                    </a>

                    <a href="#" target="_blank">
                        <i class="ri-twitter-x-fill"></i>
                    </a>

                </div>
            </div>
        </div>

        <span class="footer__copy">
            &#169; All Rights Reserved by Mayank
        </span>
      </footer>

      <!--========== SCROLL UP ==========-->
      

      <!--=============== SCROLLREVEAL ===============-->
      <script src=""></script>

      <!--=============== MAIN JS ===============-->
      <script src="assets/js/main.js"></script>
   </body>
</html>